/* Algemene opmaak */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Header styling */
header {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

/* Container */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Lijst styling */
ul {
    list-style: none;
    padding: 0;
}

ul > li {
    margin-bottom: 10px;
    padding: 15px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background 0.3s;
}

ul > li:hover {
    background: #eef5ff;
}

ul > li h2 {
    margin: 0;
    color: #004080;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ol {
    margin: 10px 0 0 20px;
    padding-left: 20px;
    display: none;
}

ol.active {
    display: block;
}

ol > li {
    margin: 5px 0;
}

ol > li a {
    color: #004080;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 20px;
}

ol > li a:hover {
    color: #002d5a;
    text-decoration: underline;
}